<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>

    body {
        background-color: #f0f2f1;
    }

    nav {
      background-color: #3778c2;
      color: white;
      padding: 15px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .categories-title {
      font-size: 1.5rem;
      margin: 0;
    }

    .menu-icon {
      cursor: pointer;
      font-size: 2rem;
    }

    .group-page {
        padding-top: 1rem;
        width: 100%;
        align-items: center;
    }

    .card-container {
        justify-content: center;
        overflow-y: scroll;
        height: 70vh;
    }

    .card-container a {
      text-decoration: none;
      color: black;
    }
    
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
        border: none;
    }
    
    .card-img-top {
        height: 5rem;
        object-fit: cover;
        width: 5rem;
    }
    
    .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn-add-category {
      background-color: #5fb523;
      color: white;
      padding: 1rem;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
    }

    

</style>

<nav>
    <span class="menu-icon" onclick="toggleMenu()">&#9776; </span>
    <h1 class="categories-title">CATEGORIES</h1>
    <%= form_with(url: destroy_user_session_path, method: :delete, local: false, class: "form-logout") do |form| %>
          <%= form.button "Logout", class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  </nav>


<section class="group-page">
  <div class="container mt-4">
    <div class="card-container ">
      <% @groups.each do |group| %>
      <%= link_to group_group_payments_path(group) do %>
        <div class="card" >
            <img src="<%= group.icon %>" alt="<%= group.name %> Icon" class="card-img-top">
            <div class="card-body">
              <p class="card-text"><%= group.name %></p>
              <p class="card-text"> $<%= number_with_precision(@total_payments[group.id] || 0, precision: 2) %></p>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>

    <div class="text-center">
      <%= link_to "ADD A NEW CATEGORY", new_group_path, class: "btn-add-category"%>
    </div>
  </div>
</section>
